@model IdentityServer.ViewModels.LoginViewModel;

<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <p>
            <h4>Login</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Username</label>
                        <input asp-for="UserName" class="form-control"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <p>
                            <a asp-action="Register" asp-controller="Auth">Don't have account?</a>
                        </p>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Submit"/>
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                </form>
                <div class="col-md-6 offset-3 text-center">
                    <p>
                        <h4>External login</h4>
                    </p>
                    @{
                        if (Model.ExternalLogins!.Count == 0)
                        {
                            <div>No external logins configured</div>
                        }
                        else
                        {
                            <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                                <div>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" style="width: auto"
                                                name="provider" value="@provider.Name"
                                                title="Login using your @provider.DisplayName account">
                                            @provider.DisplayName
                                        </button>
                                    }
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
