@model IdentityServer.ViewModels.RegisterViewModel

<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <p>
            <h4>Registration</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Username</label>
                        <input asp-for="UserName" class="form-control"/>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <p>
                            <a asp-action="Login" asp-controller="Auth">Already have account?</a>
                        </p>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Sign up"/>
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>